{% extends 'master/base.html' %}

{% block content %} 

{% include 'master/messages.html' %}

<h1>Calorie List </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Item Name</th>
            <th>Consumed Calorie </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        
        {% for data in consumed_data %}

        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.item_name}}</td>
            <td>{{data.calorie}}</td>
            <td>
                <a href="{% url 'update_calorie' data.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_calorie' data.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
            
        {% endfor %}
            
    </tbody>

</table>

<a href="{% url 'add_calorie' %}" class="btn btn-primary">Add Calorie</a>

{% endblock %}
