{% extends 'master/base.html' %}

{% block content %}
  <div>
    {% include 'master/messages.html' %}
  </div>

  <h1 class="mt-4">Daily Consumed Calories {{total_count}}</h1>

  <div class="row">
    <div class="card col-md-4">
      <div class="card-header">Consumed Calories</div>
      <div class="card-body">
        <h5 class="card-title">{{consumed_calories}} Kcal</h5>
      </div>
    </div>
  
    <div class="card col-md-4">
      <div class="card-header">Required Calories</div>
      <div class="card-body">
        <h5 class="card-title">{{required_calories}} Kcal</h5>
      </div>
    </div>

    <div class="card col-md-4">
      <div class="card-header">Less/More Calories</div>
      <div class="card-body">
        <h5 class="card-title">{{less_more}} Kcal</h5>
      </div>
    </div>
  </div>

  <h1>Today Cosumed Calories</h1>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Item Name</th>
            <th>Consumed Calorie </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        
        {% for data in today_consumed_data %}

        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.item_name}}</td>
            <td>{{data.calorie}}</td>
            <td>
                <a href="{% url 'update_calorie' data.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_calorie' data.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
            
        {% endfor %}
            
    </tbody>

</table>

{% endblock %}
